body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 1rem;
    border: black;
    border-radius: 10%;
}

#stripe-button {
    height: 300px;
    width: 300px;
    margin: 1rem;
    border: black 10px;
    border-radius: 10%;
}

iframe {
    width: 900px;
    height: 352px;
    border-radius: 12px;
}
